---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}

        {% if page.profile.address %}
          <div class="address" style="font-size: 14px;">
            <center>
            {{ page.profile.address }}
            </center>
          </div>
        {% endif %}

        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2 id="news">
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest Posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Publications with tabs -->
    {% if page.selected_papers %}
      <h2 id="publications">Publications</h2>
      <p class="mt-0 mb-2" style="font-size: 0.85rem; color: var(--global-text-color-light);">* denotes equal contribution</p>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <ul class="nav nav-tabs mb-0" id="pub-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="selected-tab" data-toggle="tab" href="#selected-pubs" role="tab" aria-controls="selected-pubs" aria-selected="true">Selected</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="all-tab" data-toggle="tab" href="#all-pubs" role="tab" aria-controls="all-pubs" aria-selected="false">All</a>
          </li>
        </ul>
        {% if site.bib_search %}
          <input
            type="text"
            id="bibsearch"
            spellcheck="false"
            autocomplete="off"
            class="search bibsearch-form-input"
            placeholder="Search by title, author, ..."
          >
          <script src="{{ '/assets/js/bibsearch.js' | relative_url | bust_file_cache }}" type="module"></script>
        {% endif %}
      </div>
      <div class="tab-content" id="pub-tabs-content">
        <div class="tab-pane fade show active" id="selected-pubs" role="tabpanel" aria-labelledby="selected-tab">
          <div class="publications">
            {% bibliography --group_by none --query @*[selected=true]* %}
          </div>
        </div>
        <div class="tab-pane fade" id="all-pubs" role="tabpanel" aria-labelledby="all-tab">
          <div class="publications">
            {% bibliography --group_by none %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
